<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_2025_09_15_네이버_플레이스_정확매칭_키워드탐색.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <_2025_09_15_네이버_플레이스_정확매칭_키워드탐색.Properties.Settings>
            <setting name="Tbox_MID" serializeAs="String">
                <value />
            </setting>
            <setting name="Num_랜덤추출수" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Num_정확추출수" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Num_최대조합수" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Num_최대글자수" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Num_자연매칭수" serializeAs="String">
                <value>0</value>
            </setting>
        </_2025_09_15_네이버_플레이스_정확매칭_키워드탐색.Properties.Settings>
    </userSettings>
</configuration>